@media screen and (min-width: 800px) {
    .containerborder {
        margin: 0 auto;
        max-width: 800px;
    }
    .container-nav {
        top: 0;
        position: absolute;
        width: 416px;
        height: 100%;
        background-color: #54595E;
    }
    .profile-icon-placement {
        top: 30px;
        position: relative;
        height: 50px;
        width: 50px;
        left: 720px;
    }
    .nav-icon-placement {
        top: 30px;
        position: absolute;
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 800px ) and (min-width: 240px) {
    .container-nav {
        top: 0;
        left: 0;
        position: absolute;
        width: 52%;
        height: 100%;
        background-color: green;
    }
    .profile-icon-placement {
        top: 30px;
        right: 30px;
        position: absolute;
        height: 50px;
        width: 50px;
    }
    .nav-icon-placement {
        top: 30px;
        left: 30px;
        position: relative;
        margin-bottom: 40px;
    }
}



.container-xl {
    margin-left: auto;
    width: 5vw;
}

.container-fluid {
    margin-left: 0;
    width: 50vw;
    height: 10px;
    alignment: left;
    padding-left: 0;
}

.nav-font {
    font-weight: bold;
    font-size: large;
    alignment: center;
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 15%;
}

.text-time {
    font-size: 2px;
    alignment: right;
    margin-right: 0;
    background-color: grey;
    height: 40px;
}

.nav-icon-close {
    top: 30px;
    left: 20px;
    color: white;
    position: relative;
    margin-bottom: 50px;
}