@media screen and (min-width: 800px) {
    .containerborder {
        margin: 0 auto;
        max-width: 800px;
    }

    .container-nav {
        top: 0;
        position: absolute;
        width: 416px;
        right: 0;
        margin-right: 50%;
        height: 100%;
        background-color: #54595E;
    }

    .profile-icon-placement {
        top: 30px;
        position: relative;
        height: 50px;
        width: 50px;
        left: 720px;
    }

    .nav-icon-placement {
        top: 30px;
        position: absolute;
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 800px ) and (min-width: 240px) {
    .container-nav {
        top: 0;
        left: 0;
        position: absolute;
        width: 52%;
        height: 100%;
        background-color: #54595E;
    }

    .profile-icon-placement {
        top: 30px;
        right: 30px;
        position: absolute;
        height: 50px;
        width: 50px;
    }

    .nav-icon-placement {
        top: 30px;
        left: 30px;
        position: relative;
        margin-bottom: 40px;
    }
}


.container-xl {
    margin-left: auto;
    width: 5vw;
}

.nav-font {
    font-weight: bold;
    font-size: large;
    color: white;
    position: relative;
    text-align: center;
    margin-bottom: 15%;
}

.text-time {
    font-size: 2px;
    text-align: right;
    margin-right: 0;
    background-color: grey;
    height: 40px;
}

.nav-icon-close {
    top: 30px;
    left: 20px;
    color: white;
    position: relative;
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.mb-4 {
    margin: auto;
    width: 50%;
}


.m-top {
    padding-top: 150px;
}

.m-above {
    padding-top: 50px;
}

a {
    color: black;

}

h1 {
    padding-top: 22px;
}

#container {
    text-align: center;
}

#editButtons {
    width: 78%;
}

#editMargin {
    margin-top: 80px;
}

#editCardMargin {
    margin-left: 5%;
}

#a-navbar {
    color: white;
    text-decoration: none;
}

.btn-edit {
    margin-left: 5%;
}

.btn-login {
    background-color: #2152B0;
    height: 40px;
    color: white;
}

.btn-filter {
    margin-top: 22px;
    background-color: #2152B0;
    height: 40px;
    color: white;
}

.btn-cancell {
    margin-top: 22px;
    border-color: black;
    height: 40px;
    color: black;

}

.btn-removeFilter {
    margin-top: 22px;
    border-color: black;
    height: 40px;
    color: black;

}

#products {
    margin-left: 1vw;
}

#typeId {
    margin-left: 13.5%;
}

#productTitle {
    margin-left: 7.5%;
    margin-bottom: 20px;
}

#priceSize {
    width: 100px;
    margin-left: 1vw;
}

.btn-login:hover {
    background-color: #05348D;
    color: white;
}

.date-text {
    font-family: 'Inter';
    font-size: 14px;
    bottom: 0;
    right: 0;
    position: absolute;
    text-align: right;
    margin-right: 10px;
    color: #54595E;
    font-weight: lighter;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    width: 50%;
    height: 18px;
}

.price-text {
    font-family: 'Inter';
    font-size: 14px;
    bottom: 0;
    position: absolute;
    text-align: left;
    color: #54595E;
    font-weight: lighter;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    width: 50%;
    height: 18px;

}

.description-text {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
    font-family: 'Inter';
    font-size: 16px;
    color: #54595E;
    font-weight: normal;
    line-height: 1;
    margin-left: 10px;
    margin-right: 10px;

}

.title-text {
    font-family: 'Inter';
    font-size: 18px;
    color: #000000;
    font-weight: normal;
    margin-bottom: 0;
}

.username-text {
    font-family: 'Inter';
    font-size: 18px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #54595E;
    font-weight: lighter;
}
